{% extends "layout.html" %}
    {% block content %}
     <div id="wrapper">  
     
      <!-- ============================================================== -->
      <!-- End Left Sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page Content -->
      <!-- ============================================================== -->
      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <h4 class="page-title">Add Resources</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
              <a
                href="https://wrappixel.com/templates/ampleadmin/"
                target="_blank"
                class="
                  btn btn-danger
                  pull-right
                  m-l-20
                  hidden-xs hidden-sm
                  waves-effect waves-light
                "
                >Upgrade to Pro</a
              >
              <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Add Resources</li>
              </ol>
            </div>
          </div>
          <!-- /.row -->
          <!-- .row -->
          <div class="row">
            <!-- <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="/static/plugins/images/large/img1.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="/static/plugins/images/users/genu.jpg" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">User Name</h4>
                                        <h5 class="text-white">info@myadmin.com</h5> </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1>258</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-blue"><i class="ti-twitter"></i></p>
                                    <h1>125</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-danger"><i class="ti-dribbble"></i></p>
                                    <h1>556</h1> </div>
                            </div>
                        </div>
                    </div> -->
            <div class="col-md-8 col-xs-12">
              <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                 {% for message in messages %}
                   <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                  </div>
                 {% endfor %}
                  {% endif %}
                {% endwith %}
               </p>
              <div class="white-box">
                <!--------------- form goes here ---------------- -->
                <form
                  method="post"
                  action="/loadResource"
                  enctype="multipart/form-data"
                  class="form-horizontal form-material"
                 >
                  <h1>Add Resource</h1>

                  <div class="form-group">
                    <label class="col-sm-12">Select Area</label>
                    <div class="col-sm-12">
                      <select
                        name="area"
                        class="form-control form-control-line"
                      >
                        <option>Nairobi CBD</option>
                        <option>Ngong Road</option>
                        <option>Mbagathi way</option>
                        <option>Uhuru highway</option>
                        <option>Langata Road</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-12">Roundabout</label>
                    <div class="col-sm-12">
                      <select
                        name="roundabout"
                        class="form-control form-control-line"
                      >
                        <option></option>
                        <option>Tmall</option>
                        <option>Nyayo</option>
                        <option>Kenyatta</option>
                        <option>Valleyroad</option>
                        <option>Globe</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-12">Camera Code</label>
                    <div class="col-sm-12">
                      <select
                        name="camcode"
                        class="form-control form-control-line"
                      >
                        <option></option>
                        <option>CAM01</option>
                        <option>CAM02</option>
                        <option>CAM03</option>
                        <option>CAM04</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>Choose Images: </label>
                    <input
                      type="file"
                      name="files[]"
                      id="fileInput"
                      class="form-control"
                      multiple
                    />
                  </div>
                  <div>

                  </div>

                  <input
                    type="submit"
                    name="submit"
                    class="btn btn-success"  
                    id="sendbutton"                 
                    value="UPLOAD"
                  />
                  
                </form>
                <!----------------form ends here-------------------------->
                <div class="App">
                  
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        
      </div>
      <!-- /#page-wrapper -->
    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <script>
      $(document).ready(function () {
        // File type validation
        $("#fileInput").change(function () {
          var fileLength = this.files.length;
          var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
          var i;
          for (i = 0; i < fileLength; i++) {
            var file = this.files[i];
            var imagefile = file.type;
            if (
              !(
                imagefile == match[0] ||
                imagefile == match[1] ||
                imagefile == match[2] ||
                imagefile == match[3]
              )
            ) {
              alert("Please select a valid image file (JPEG/JPG/PNG/GIF).");
              $("#fileInput").val("");
              return false;
            }
          }
        });
      });
    </script>

{% endblock content %}
  </body>
</html>
